@page
@model CacheApp.Pages.Firearms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Firearm</h4>
    <hr />
    <partial name="_Detail" model="@Model.Firearm" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Firearm.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
